<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MalacProdavac by BatMobile</title>
    <link rel="stylesheet" href="invoice.css">
</head>
<body>
<p>
  Po&#x0161;tovani,
  <br>
  <br>
  <p>Zahvaljujemo Vam se na kori&#x0161;&#x0107;enju na&#x0161;e <i><b>MalacProdavac</b></i> platforme!
  <br>
  <br>
  Porud&#x017e;benica <b>#<span th:text="${orderNumber}"></span></b> je uspe&#x0161;no zavr&#x0161;ena, a u prilogu &#x0107;ete prona&#x0107;i sve relevantne detalje.
  <br><br>
  Ako imate bilo kakvih pitanja ili vam je potrebna dodatna pomo&#x0107;, slobodno nas kontaktirajte.
  <br>
  Zahvaljujemo se na Va&#x0161;em poverenju i radujemo se ponovnom susretu.

  <br>
  <br>
  <br>
  S po&#x0161;tovanjem,
  <br>
  <br>
  <span style="color: rgba(0, 0, 0, 0.5)">
    MalacProdavac by BatMobile <br>
    Radoja Domanovi&#x0107;a 12 <br>
    34000 Kragujevac <br>
    0654445559
  </span>
</p>

</body>
</html>